$sda-color: #55125e; 
$navbar-bg-color: #661570; 
$navbar-color: #fff;

$box-color: black;
$box-border: 1px solid black;
$box1-color:#000080;

// Task 6 variables
$icon-sizes: 8px, 16px, 24px, 32px, 48px, 64px;

$nth-child-colors: red, green, blue;