@use 'mixins' as mixins;
@use 'variables' as v;

.box{
  width: 200px;
  height: 200px;
  background-color: v.$box-color;
  border: v.$box-border ;
  @include mixins.absolute-position(200px, auto, 0px, auto);
  
  &.centered-horizontally{
    @include mixins.center('horizontal');
  }
  &.centered-vertically{
    @include mixins.center('vertical');
  }
  &.centered-horizontally-and-vertically{
    @include mixins.center('both');
  }
}

.box1{
  @include mixins.box1(200px,200px);
  background-color:v.$box-color;
}



.rgb-gradient{
  @include mixins.linear-gradient(to left,red,blue,white,green,red )
}