.box {
  width: 200px;
  height: 200px;
  background-color: black;
  border: 1px solid black;
  position: absolute;
  top: 200px;
  right: auto;
  bottom: 0px;
  left: auto;
}
.box.centered-horizontally {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translate(-50%, -50%);
}
.box.centered-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translate(-50%, -50%);
}
.box.centered-horizontally-and-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: black;
}

.rgb-gradient {
  background: linear-gradient(to left, red, blue, white, green, red);
  background: -webkit-linear-gradient(to left, red, blue, white, green, red);
  background: -moz-linear-gradient(to left, red, blue, white, green, red);
  background: -ms-linear-gradient(to left, red, blue, white, green, red);
}
